!!!
%html
  %head
    %title
      Hypertasking |
      = yield :title
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Yesteryear', media: 'all'
    = stylesheet_link_tag 'application', controller.controller_name, media: 'all'
    = javascript_include_tag 'application', controller.controller_name
    %meta{name: 'viewport', content: 'user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0'}/
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %h1= link_to 'Hypertasking', root_path, class: 'logo', alt: 'Home'
    .container
      - flash.each do |key, value|
        %aside.alert{class: "alert-#{key}"}= value
      = yield
      = render 'layouts/footer'
