!!!
%html
  %head
    %title
      Hypertasking 
      \|
      = yield :title
    = favicon_link_tag asset_path 'favicon.ico'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Yesteryear', media: 'all'
    = stylesheet_link_tag 'application', controller.controller_name, media: 'all'
    = javascript_include_tag 'application', 'app-wide', controller.controller_name
    %meta{name: 'viewport', content: 'user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0'}/
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container
      - flash.each do |key, value|
        %aside.alert.fade.in{class: "alert-#{key}"}
          %button.close{'data-dismiss' => 'alert'} &times;
          = value
      = yield
      = render 'layouts/footer'
